* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* Chamando Fonte */
    font-family: "Ubuntu", sans-serif;
    font-size: 0.85rem; 

        /* Bordas View */
    /* border: solid 1px #ff89ce; */
}


/* Cabeçalho */
.cabecalho {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 5px;
    padding: 5px;
}

.cabecalho h1 {
    font-size: 13px;
    color: #fff;
}

/* Layout APP */
.container-pai {
    background-color: #f6dcdf;
    width: 200px;
    height: 240px;

    /* Flexbox */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}



/* Configurações dos Botões */
.container-button {
    width: 160px;
    padding: 5px;
    gap: 5px;

    /* Flexbox */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#input-text {
    width: 160px;
    padding: 5px 6px;
    margin-bottom: 5px;
    border: 2px solid #b2dca1;
    border-radius: 4px;
    outline: none;
    font-size: 0.85rem;
    transition: 0.2s;
    background-color: #fffdeb;
}

.btn {
    cursor: pointer;
    padding: 4px 8px;
    border-radius: 3px;
    border: 1px solid #92b485;
    background-color: #b2dca1;
    transition: 0.2s;
    font-weight: bold;
    flex: 1; /* divide o espaço igualmente */
    text-align: center;
    color: #fff;
}

/* Desafio */

.result {
    width: 160px;
    margin-top: 5px;
    border: 2px solid #b2dca1;
    border-radius: 3px;
    padding: 2px 3px 40px;
    height: 60px;
    background-color: #fff;
    font-size: 0.8rem;
    text-align: left;
    background-color: #fffdeb;
}


.rodape {
    margin-top: 5px;
    font-size: 0.85rem;
    text-align: center;
}

.rodape a {
    text-decoration: none;
    color: #ff78b0;
}
